<%- include('partials/header') -%>
<div class="card card-compact md:card-normal md:w-fit lg:w-1/3 bg-base-100 shadow-xl mx-auto my-8">
  <div class="card-body mx-auto">

    <div class="card-title mx-auto">
      <h2><%= course.title %></h2>
    </div>

    <!-- If logged in user is creator, show edit and delete -->
    <div class="row justify-content-between">

        <%if(course.createdById == user.id){ %>

          <ul class="flex justify-center">
            <li>
              <a href="/course/editCourse/<%= course.id %>" class="col-3">
              <button class="btn btn-primary mr-2 fa fa-edit"></button>
              </a>
            </li>
           <li>
              <form
                action="/course/<%= course.id %>?_method=DELETE"
                method="POST"
                class="col-3">
                <button class="btn btn-error fa fa-trash" type="submit"></button>
              </form>
           </li>
          </ul>

        <%}%>
    </div>

    <!-- Course Info -->
    <div>
      <h4><span class="font-medium">Length:</span> <%= course.ceLength %> hr(s)</h4>
      <h4><span class="font-medium">Presenter:</span> <%= course.presenter %></h4>
      <h4><span class="font-medium">Date:</span> <%= moment.utc(course.completeDate).format('MMM DD, YYYY') %></h4>
      <h4><span class="font-medium">Certificate:</span></h4>
      <% if(course.cloudinaryId) { %> 
        <img src=<%= course.image %> class="w-3/4 mx-auto pt-5">
      <% } else { %>
        <img src="/imgs/place-cert.png" class="w-3/4 mx-auto pt-5">
      <% } %>
    </div>

  </div>

</div>  
<%- include('partials/footer') -%>
