<%- include('partials/header') -%>
<!-- <div class="flex"> -->
  <section class="flex container mx-auto">
    <div class="stats shadow bg-zinc-50 mx-auto text-center border-2 p-0">
      <div class="stat">
        <div class="stat-title">Total Hours</div>
        <div class="stat-value text-secondary"><%= completedHrs %></div>
      </div>

        <div class="stat hidden sm:block"> 
          <div class="stat-title">% Complete</div>
          <% if(user.targetHrs !== 0) { %> 
            <div class="radial-progress text-primary" style="--value:<%= targetCompletion %>; --thickness: 0.75rem;"><%= targetCompletion %>%</div>
          <% } else { %>
            <div class="stat-value text-primary font-bold text-xl">N/A</div>
          <% } %>
          <!-- <div class="stat-desc">of target</div> -->
        </div>
    </div>
  </section>
<!-- </div> -->
  
  <section class="container mx-auto h-full">
    <div class="flex mx-auto my-4">
      <div class="pl-5 hidden sm:inline-grid">
        <a class=" btn btn-primary btn-rounded w-40" href="/addcourse">Add a CEU</a>
      </div>
      <div class="flex mx-auto sm:hidden">
        <a href="/addcourse"><button class="btn btn-primary btn-rounded text-3xl font-black pb-1.5 place-items-center w-40">+</button></a>
      </div>

    </div>
    

    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th class="text-base sm:text-xl">Course Title</th>
            <th class="text-base sm:text-xl hidden sm:block text-center">Length</th>
            <th class="text-base sm:text-xl text-center">Options</th>
          </tr>
        </thead>
        <tbody>
            
              <% if (courses.length > 0) { %>
                <% for(var i=0; i<courses.length; i++) { %>
                  <tr class="hover">
                    <td class="collapse collapse-arrow">
                        <input type="checkbox"/> 
                        <div class="collapse-title text-md sm:text-lg">
                          <a href="/course/<%= courses[i]._id%>">
                            <%= courses[i].title %>
                          </a>
                        </div>
                        <div class="collapse-content"> 
                          <h4><span class="font-medium">Length:</span> <%= courses[i].ceLength %> hr(s)</h4>
                          <h4><span class="font-medium">Presenter:</span> <%= courses[i].presenter %></h4>
                          <% if(courses[i].completeDate) { %>
                            <h4><span class="font-medium">Date:</span> <%= moment.utc(courses[i].completeDate).format('MMM DD, YYYY') %></h4>
                            <% } else { %>
                              <h4><span class="font-medium">Date:</span> N/A</h4>
                              <% } %>
                          <h4 class="underline"><a href="/course/<%= courses[i]._id%>">View more</a></h4>
                        </div>
                    </td>
                    <td class="hidden sm:table-cell text-center">
                        <%= courses[i].ceLength %>
                    </td>
                    <td>
                      <ul class="flex justify-center">
                        <li>
                          <a href="/course/editCourse/<%= courses[i]._id %>" class="col-3">
                          <button class="btn btn-primary mr-2 fa fa-edit"></button>
                          </a>
                        </li>
                       <li>
                          <form
                            action="/course/<%= courses[i]._id %>?_method=DELETE"
                            method="POST"
                            class="col-3">
                            <button class="btn btn-error fa fa-trash" type="submit"></button>
                          </form>
                       </li>
                      </ul>
                   </td>
                  </tr>
                <% } %>
            <% } else { %>
              <div class="flex mx-auto justify-center mb-3">
                <p class="font-semibold">You do not have any courses logged yet.</p>
              </div>
            <% } %>
        </tbody>
    </table>
  </section>
</div>  

<%- include('partials/footer') -%>