<%- include('partials/header') -%>

<h3>Edit Story</h3>
<div>
    <form
        action="/course/<%= course._id%>?_method=PUT"
        enctype="multipart/form-data"
        method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= course.title%>">
        </div>
        <div class="mb-3">
            <label for="presenter" class="form-label">Presenter</label>
            <input type="text" class="form-control" id="presenter" name="presenter" value="<%= course.presenter%>">
        </div>
        <div class="mb-3">
            <label for=ceLength" class="form-label">CE Length</label>
            <input type="number" min="0" step="0.1" class="form-control" id="ceLength" name="ceLength" value="<%= course.ceLength%>">
        </div>
        <div class="mb-3">
            <label for="completeDate" class="form-label">Date Completed</label>
            <input type="date" class="form-control" id="completeDate" name="completeDate" value="<%= course.completeDate.toISOString().split('T')[0]%>">
        </div>
        <div class="mb-3">
            <label for="imgUpload" class="form-label">Certificate</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <!-- <button type="submit" class="btn btn-primary" value="Upload">Submit</button> -->
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>

<%- include('partials/footer') -%>